body {
  width, height: 100%;
  font-family: Quicksand, sans-serif;
}

body button {
  font-family: Quicksand, sans-serif
}

#inputarea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputtext, #inputboxandbutton {
  margin: 15px;
}

#inputtext {
  text-align: center;
}

.twitterat {
  font-weight: bold;
}
